.users{
    &-div{
        display: flex;
        flex-direction: row;
        &-active{
            color: red;
            background-color: black;
            padding: 15px 20px;
        }
        &-div{
            color: white;
            background-color: black;
            padding: 15px 20px;
        }
    }
}