.post_log{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 20px;
    .post_img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    .post_txt{
        font-size: 20px;
        display: flex;
        align-items: flex-start;
        padding: 20px;
        text-align: left;
    }
}